header {
	width: 100%;
	height: 75px;
	background-color: #ffb7c5;
}

footer {
	width: 100%;
	height: 40px;
	background-color: #ffb7e9;
	padding: 10px;
}

.body-padding {
	padding-top: 15px;
	padding-bottom: 70px;
}

.loginbuttonposition {
	position: absolute;
	right: 10px;
	top: 32px;
}

.welcomepagetable {
	background-color:#FFEFF2;
	border-collapse:collapse;
	color:#000;
	font-size:18px;
	padding: 5px;
}

.welcomepagetable th { 
	background-color:#FF7070;
	color:white;
	width: 10%;
	text-align: center;
	
}

.welcomepagetable td {
	padding-top: 5px;
	padding-bottom:5px;
	padding-right: 5px; 
	padding-left: 5px;
}